<!DOCTYPE html>
<html>
<head>
  <title>Mori</title>
  <%= stylesheet_link_tag    "mori/application", media: "all" %>
  <%= javascript_include_tag "mori/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
