<p> <%=t 'emails.forgot.opening', :app_name => Mori.configuration.app_name %> </p>
<p> <%=t 'emails.forgot.intro' %></p>
<p> <%= link_to('Reset Password', forgot_passwords_url(:token => @user.password_reset_token)) %> </p>
<p> <%=t 'emails.forgot.closing' %></p>
<p>
  If you did not do this, disregard this email
</p>
