/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */
body {
  padding-top:50px;
  background-color:#E6E9ED;
}

.form-wrap {
  padding-bottom:20px;
  padding-top:65px;
  overflow:hidden;
  background-color:#F5F7FA;
}
.form-wrap button {
  float:right;
}
.form-wrap .form-title {
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin:0;
  padding:10px;
  color:#FFF;
  background-color:#4A89DC;
}
.mori-links {

  display: -webkit-flex;
  list-style:none;
  padding:15px 0 0;
  margin:0;
  width:100%;
  clear:both;
}
.mori-links li {
  -webkit-flex: 1 0 0px;
  text-align:center;
}
