<%= form_tag send_reset_passwords_path, :id => "forgot_password_form" do %>
  <div class="form-group">
    <%= label_tag "Email" %>
    <%= text_field_tag :email %>
  </div>
  <%= submit_tag "Reset Password" %>
<% end %>
