<%= form_tag :url => send_reset_passwords_path, :id => "password_reset_form" do %>
  <div>
    <%= label_tag "Email" %>
    <%= text_fiend_tag :email %>
  </div>
  <%= submit_tag "Send Password Reset" %>
<% end %>
