<ul class="mori-links">
  <% if controller_name != 'sessions' %>
    <li><%= link_to "Sign In", login_path %></li>
  <% end %>
  <% if controller_name != 'registrations' %>
    <li><%= link_to "Sign Up", sign_up_path %></li>
  <% end %>
  <% if controller_name != 'passwords' && controller_name != 'registrations' %>
    <li><%= link_to "Forgot your password?", forgot_passwords_path %></li>
  <% end %>
</ul>
